<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/webix.css" type="text/css">
        <script src="/public/js/webix.js" type="text/javascript"></script>
        <!-- <link rel="stylesheet" href="./../../Webix/webix/codebase/webix.css" type="text/css"> 
        <script src="./../../Webix/webix/codebase/webix.js" type="text/javascript"></script> -->
    </head>
    <body>
        <script src="/public/js/components/employees/picker.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/components/employees/viewer.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/assessments/picker.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/assessments/viewer.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/candidates/picker.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/candidates/viewer.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/models/candidates/provider.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/models/employees/provider.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/models/assessments/provider.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/candidates/workspace.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/assessments/workspace.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/employees/workspace.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/components/navigation/navigation.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/app.js"></script>
    </body>
</html>