<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/public/webix/codebase/webix.css" type="text/css">
    <script src="/public/webix/codebase/webix.js" type="text/javascript"></script>
</head>
<body>
<script>
    let form = {
        view:"form",
        borderless:true,
        elements: [
            { view:"text", label:'Username', name:"username" },
            { view:"text", type:"password", label:'Password', name:"password" },
            { view:"button", value: "Submit", click:function(){
                    let user = this.getParentView().getValues();
                    let options = {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: "username=" + user.username +"&" + "password=" + user.password,
                    };
                    fetch("/login", options).then(resp => window.location = "/");
                }},
            {view:"button", value:"Register", click:() => location.href = "/register"}
        ],
        // rules:{
        //     "email":webix.rules.isEmail,
        //     "login":webix.rules.isNotEmpty
        // },
        elementsConfig:{
            labelPosition:"top",
        }
    };

    webix.ui({
        view:"window",
        id:"win2",
        width:300,
        position:"center",
        modal:true,
        head:"Login",
        body:webix.copy(form)
    });

    $$("win2").getBody().clear();
    $$("win2").show();
    $$("win2").getBody().focus();
</script>
</body>
</html>